manifest {
  name = 'mettl3-glori'
  author = 'METTL3 STC-15 Manuscript'
  description = 'Nextflow workflow for GLORI genome generation, A-to-G conversion, STAR alignment and back-conversion.'
  version = '0.1.0'
}

process {
  executor = 'local'
  cpus = 4
  memory = '16 GB'
  time = '4h'
  errorStrategy = 'finish'
}

docker {
  enabled = true
}

process {
  withName: generateGenomeIndex {
    container = 'quay.io/biocontainers/star:2.7.10a--0'
  }
  withName: generateSpikeInIndex {
    container = 'quay.io/biocontainers/star:2.7.10a--0'
  }
  withName: trimFastq {
    container = 'quay.io/biocontainers/cutadapt:4.8--pyh8cca7f_0'
  }
  withName: alignSpikeIn {
    container = 'quay.io/biocontainers/star:2.7.10a--0'
  }
  withName: alignGenome {
    container = 'quay.io/biocontainers/star:2.7.10a--0'
  }
  withName: backConvertGenome {
    container = 'quay.io/biocontainers/samtools:1.17--h2e538c0_1'
  }
  withName: backConvertSpikeIn {
    container = 'quay.io/biocontainers/samtools:1.17--h2e538c0_1'
  }
  withName: spikeInMpileup {
    container = 'quay.io/biocontainers/bcftools:1.17--h8cc25b3_0'
  }
  withName: runMpileup {
    container = 'quay.io/biocontainers/bcftools:1.17--h8cc25b3_0'
  }
  withName: combineMpileupChunks {
    container = 'quay.io/biocontainers/bcftools:1.17--h8cc25b3_0'
  }
}

profiles {
  standard {
    process {
      executor = 'local'
    }
  }

  slurm {
    process {
      executor = 'slurm'
    }
  }
}
